.App {
  text-align: center;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App__header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  background-color: #f1e9e6;
}
.App__button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
button {
  background-color: #ef9273;
  border: 14px;
  font-size: 20px;
  border-radius: 8px;
  margin: 5px;
  padding: 4px 16px 4px 16px;
  color: white;
}
.App__header-title {
  color: #ef9273;
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bolder;
}

.App__homelink:link {
  text-decoration: none;
}

.App__homelink:visited {
  text-decoration: none;
}

.App__homelink:hover {
  text-decoration: none;
}

.App__homelink:active {
  text-decoration: none;
}

.footer__all {
  background-color: #0d0d0d;
  color: #bbbbbb;
  font-weight: 200;
  font-family: "Roboto", sans-serif;
  margin-top: 100px;
  padding: 45px 0px 45px 0px;
}
.footer__all-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: #f4f3f3;
}
.App__dropdown {
  margin-right: 10px;
}
.dropdown {
  border-radius: 7px;
  font-size: large;
  background-color: #ef9273;
  height: 30px;
  color: white;
  border-color: #ef9273;
}

.dropdown:hover {
  background-color: #f46739;
  color: #1c1a1a;
}

button:hover {
  background-color: #f46739;
  color: #1c1a1a;
}
.App__header-title:hover {
  color: #f46739;
}
